/* Global Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
  }
  
  header {
	background-color: #333;
	color: white;
	padding: 10px 0;
	text-align: center;
  }
  
  header nav ul {
	list-style-type: none;
	padding: 0;
  }
  
  header nav ul li {
	display: inline;
	margin: 0 15px;
  }
  
  header nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
  }
  
  header nav ul li a:hover {
	text-decoration: underline;
  }
  
  .hero {
	background-image: url('/images/hero-bg.jpg');
	background-size: cover;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 100px 20px;
  }
  
  .hero h1 {
	font-size: 3em;
  }
  
  .hero button {
	padding: 10px 20px;
	font-size: 1.2em;
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
  }
  
  .hero button:hover {
	background-color: #555;
  }
  
  footer {
	background-color: #333;
	color: rgba(36, 16, 16, 0.648);
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
  }

  /* Styles du lecteur audio */
.audio-player {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: auto;
	padding: 20px;
	background-color: #000000d4;
	border-radius: 10px;
	color: rgb(255, 255, 255);
  }
  
  .track-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .track-logo {
	width: 100px;
	height: 100px;
  }
  
  .track-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .current-track {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .small-track {
	color: #ffffff93;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .control-button {
	font-size: 2em;
	background-color: #444;
	color: white;
	border: none;
	padding: 10px;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
  }
  
  .control-button:hover {
	background-color: #666;
  }
  
  .volume-control {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  #volume {
	margin-left: 10px;
  }
  
  .sound {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.sound1, .sound3 {
    opacity: 0.5;
}

.sound2 {
    opacity: 1;
    transform: scale(1.2);
}